<%- include("partials/head.ejs") -%>


<div class="p-box">
  <h1>O Autorze</h1>
  <div class="p-par">
    <p>
      Kim jestem? Nie znam osoby potrafiącej bez cienia niepewności odpowiedzieć na to pytanie. Raz czynnością, raz pomysłem, a raz czystą emocją. Myśl jest wspólnym mianownikiem wszystkich mnie. Myśl jest wszystkim, bo czym jesteśmy ponad myślą? Czym
      rzeczywistość jak nie tylko pustką, bezwładem energii, bezwolnej nadziei szamoczącej się w układzie zawszenieinercjalnym? Rzeczywistość nie ma zbyt wiele do zaoferowania. Nie ma w niej nic poza chaosem. Chaos ten pełen jest schematów, które mogą
      zachwycić swym pięknem. Zawsze jednak piękno jest w myśli, nie w świecie. Lubię robić zdjęcia, tworzyć muzykę oraz okazjonalnie fascynować się przypadkowymi dziedzinami nauki, lecz przyczyną zawsze jest gloryfikacja idei i rozszerzanie
      komunikacji. Jak każdy z nas jestem kroplą oleju w oceanie, niemogącą połączyć się całkowicie, niezdolną do przekazania swojego świata jak i do odebrania cudzego.
    </p>
  </div>  
</div>

<%- include("partials/foot.ejs") -%>
