<%- include("partials/head.ejs") -%>

<div class="p-box">
  <h1>Napisz do mnie!</h1>
  <div class="p-par">
    <p>
      e-mail: bartek.pogod@gmail.com <br>
      nr tel: +48 884 269 383 <br>
      inne media: <a href="https://github.com/BartekPog" target="_blank">GitHub</a>,  <a href="https://www.instagram.com/bartekpog/ target="_blank">Instagram</a>
    </p>
  </div>
</div>


<%- include("partials/foot.ejs") -%>
