<%- include("partials/head.ejs") -%>

<div class="mid-box">
  <h1 class="nag1">Coś poszło nie tak :C</h1>
  <div class="mid-par">
    <p>kurczebele, bez sensu. Może chcesz wrócić do strony głównej?</p>
  </div>
  <a href="/"><button type="button" class="btn btn-lg btn-outline-light">Wróć na główną</button></a>
</div>



<%- include("partials/foot.ejs") -%>
