
<%- include("partials/head.ejs") -%>

<div class="mid-box">
  <h1 class="nag1">Jak zacząć z Web Devem?</h1>
  <div class="mid-par">
    <p>Interesuje Cię w jaki sposób działają strony internetowe? Chciałbyś poznać tajniki HTMLa, CSSa, Bootstrapa, czy Javascripta? Zobacz co ciekawego kryje się po drugiej stronie internetu!</p>
  </div>
  <a href="/posts/<%=pierwszy%>"><button type="button" class="btn btn-lg btn-outline-light">Rozpocznij Przygodę!</button></a>
</div>


<%- include("partials/foot.ejs") -%>
